<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />

<!-- IZQUIERDA -->
<div class="left-body">

  <ng-container *ngIf="info != undefined">
    <ng-container *ngFor="let row of info.articuloDTOs">
      <div class="not-noticia">
        <div class="not-titulo">
          {{row.titulo}}
        </div>
        <div class="not-imagen">
          <img src="{{row.imagenes[0].url}}" class="float-left" width="46%" style="padding: 2%;">
          <p class="text-justify">
            {{row.resumen}}
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>

<!-- SIDEBAR-->
<div class="right-body">

  <ng-container *ngIf="info != undefined">
    <ng-container *ngFor="let row of info.publicidadDTOs">
      <div class="pub-publicidad pull-rigth">
        <img src="{{row.imagen.url}}" width="100%">
      </div>
    </ng-container>
  </ng-container>

  <!-- MINI ARTICULO 1
  <div class="art-articulo pull-rigth">
    <div class="art-titulo">
      CLASICO DE VERANO
    </div>
    <div class="art-texto">
      A partir de mañana jueves, y hasta el dia domingo, se estará desarrollando la Séptimo Edición del Torneo de verano
      organizado por Don Bosco de Paraná, denominado “Clásico de Verano”.
    </div>
  </div> -->

</div>