<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />

<!-- IZQUIERDA -->
<div class="left-body">
  <!-- NOTICIA 2 -->
  <div class="not-noticia">
    <div class="not-titulo">
      Don Bosco Bicampeon Argentino
    </div>
    <div class="not-imagen">
      <img src="https://mundosoftbol.com.ar/2019/MARZO/don%20bosco%20campeon%20para%20subir.jpg" class="float-left"
        width="46%" style="padding: 2%;">
      <p class="text-justify">
        Durante este fin de semana, se desarrolló el 20° Campeonato Argentino de Clubes de primera división masculino.
        El
        mismo conto con la exitosa presencia de 33 equipos, de todas partes de país, quienes disputaron más de 100
        partidos
        en 5 días.

        Ayer, pasada la media noche, el elenco dirigido técnicamente por Eduardo Sabate, Don Bosco de Paraná, se adueñó
        de
        su 5° corona Nacional, segunda de forma consecutiva.
        Los Salesianos, quienes en el Round Robin quedaron en la primera posición, con un record de 6 ganados y 1
        perdido,
        se instalaron directamente en el juego final, a la espera de su contrincante.
        A la final, aparte de Don Bosco, llego el equipo, también paranaense, Patronato, lo que desde hace un tiempo
        atrás,
        ya es un clásico de nuestro softbol Argentino.

        El juego final, de rápidas emociones, donde la DB en el primer inning se puso arriba por 3 carreras a 0, luego
        que
        Gonzalo Ojeda conecte un HR con compañero en base. Más tarde, Patronato descontaría la única carrera anotada, de
        la
        mano de Gustavo Godoy.

        Los de Sabate, no se quedaron quietos, además de una casi impecable defensa, a la hora de batear, lo hicieron de
        forma excelente, anotando dos carreras más en el cuarto periodo, con HR nuevamente, pero en este caso de Nicolás
        Peque Carril, quien con hombre en base, puso 5 a 1 el encuentro.

        Sin respiro casi para la gente, en el quinto inning y ultimo del encuentro, ya que de la mano de Juan D Castro,
        conectando otro Home Run con hombre en bases, estira la diferencia a 9 carreras a 1, para dar por finalizado el
        encuentro de forma temprana, por diferencia de carreras.

        Don Bosco se consagro Campeón por segunda vez consecutiva, y por quinta vez en su historia.

        El equipo campeón está integrado por: Carril N, Sabate F, Ojeda G, Lombardo F, Sacks G, Godoy R, Patat G, Castro
        J,
        Erbes E, Ferrara E, Valla M, Brahin, Olgiati, Alabarenga, Sacks I, Juarez A y Suarez M. Manager: Eduardo Chino
        Sabate.

        La organización entrego premios especiales a los más destacados del torneo:
        MEJOR LANZADOR - Juan Potolicchio (Estudiantes) ERA 1.22
        MEJOR BATEADOR - Francisco Sabaté (Don Bosco) AVG .471
        PREMIO LUIS GUDIÑO (mayor cantidad de HR) - Nicolás Carril (Don Bosco) 5
        JUGADOR MÁS VALIOSO - Nicolás Carril
      </p>
    </div>
  </div>

  <!-- NOTICIA 2 -->
  <div class="not-noticia">
    <div class="not-titulo">
      Don Bosco Bicampeon Argentino
    </div>
    <div class="not-imagen">
      <img src="https://mundosoftbol.com.ar/2019/MARZO/don%20bosco%20campeon%20para%20subir.jpg" class="float-left"
        width="46%" style="padding: 2%;">
      <p class="text-justify">
        Durante este fin de semana, se desarrolló el 20° Campeonato Argentino de Clubes de primera división masculino.
        El
        mismo conto con la exitosa presencia de 33 equipos, de todas partes de país, quienes disputaron más de 100
        partidos
        en 5 días.

        Ayer, pasada la media noche, el elenco dirigido técnicamente por Eduardo Sabate, Don Bosco de Paraná, se adueñó
        de
        su 5° corona Nacional, segunda de forma consecutiva.
        Los Salesianos, quienes en el Round Robin quedaron en la primera posición, con un record de 6 ganados y 1
        perdido,
        se instalaron directamente en el juego final, a la espera de su contrincante.
        A la final, aparte de Don Bosco, llego el equipo, también paranaense, Patronato, lo que desde hace un tiempo
        atrás,
        ya es un clásico de nuestro softbol Argentino.

        El juego final, de rápidas emociones, donde la DB en el primer inning se puso arriba por 3 carreras a 0, luego
        que
        Gonzalo Ojeda conecte un HR con compañero en base. Más tarde, Patronato descontaría la única carrera anotada, de
        la
        mano de Gustavo Godoy.

        Los de Sabate, no se quedaron quietos, además de una casi impecable defensa, a la hora de batear, lo hicieron de
        forma excelente, anotando dos carreras más en el cuarto periodo, con HR nuevamente, pero en este caso de Nicolás
        Peque Carril, quien con hombre en base, puso 5 a 1 el encuentro.

        Sin respiro casi para la gente, en el quinto inning y ultimo del encuentro, ya que de la mano de Juan D Castro,
        conectando otro Home Run con hombre en bases, estira la diferencia a 9 carreras a 1, para dar por finalizado el
        encuentro de forma temprana, por diferencia de carreras.

        Don Bosco se consagro Campeón por segunda vez consecutiva, y por quinta vez en su historia.

        El equipo campeón está integrado por: Carril N, Sabate F, Ojeda G, Lombardo F, Sacks G, Godoy R, Patat G, Castro
        J,
        Erbes E, Ferrara E, Valla M, Brahin, Olgiati, Alabarenga, Sacks I, Juarez A y Suarez M. Manager: Eduardo Chino
        Sabate.

        La organización entrego premios especiales a los más destacados del torneo:
        MEJOR LANZADOR - Juan Potolicchio (Estudiantes) ERA 1.22
        MEJOR BATEADOR - Francisco Sabaté (Don Bosco) AVG .471
        PREMIO LUIS GUDIÑO (mayor cantidad de HR) - Nicolás Carril (Don Bosco) 5
        JUGADOR MÁS VALIOSO - Nicolás Carril
      </p>
    </div>
  </div>

  <!-- NOTICIA 2 -->
  <div class="not-noticia">
    <div class="not-titulo">
      Don Bosco Bicampeon Argentino
    </div>
    <div class="not-imagen">
      <img src="https://mundosoftbol.com.ar/2019/MARZO/don%20bosco%20campeon%20para%20subir.jpg" class="float-left"
        width="46%" style="padding: 2%;">
      <p class="text-justify">
        Durante este fin de semana, se desarrolló el 20° Campeonato Argentino de Clubes de primera división masculino.
        El
        mismo conto con la exitosa presencia de 33 equipos, de todas partes de país, quienes disputaron más de 100
        partidos
        en 5 días.

        Ayer, pasada la media noche, el elenco dirigido técnicamente por Eduardo Sabate, Don Bosco de Paraná, se adueñó
        de
        su 5° corona Nacional, segunda de forma consecutiva.
        Los Salesianos, quienes en el Round Robin quedaron en la primera posición, con un record de 6 ganados y 1
        perdido,
        se instalaron directamente en el juego final, a la espera de su contrincante.
        A la final, aparte de Don Bosco, llego el equipo, también paranaense, Patronato, lo que desde hace un tiempo
        atrás,
        ya es un clásico de nuestro softbol Argentino.

        El juego final, de rápidas emociones, donde la DB en el primer inning se puso arriba por 3 carreras a 0, luego
        que
        Gonzalo Ojeda conecte un HR con compañero en base. Más tarde, Patronato descontaría la única carrera anotada, de
        la
        mano de Gustavo Godoy.

        Los de Sabate, no se quedaron quietos, además de una casi impecable defensa, a la hora de batear, lo hicieron de
        forma excelente, anotando dos carreras más en el cuarto periodo, con HR nuevamente, pero en este caso de Nicolás
        Peque Carril, quien con hombre en base, puso 5 a 1 el encuentro.

        Sin respiro casi para la gente, en el quinto inning y ultimo del encuentro, ya que de la mano de Juan D Castro,
        conectando otro Home Run con hombre en bases, estira la diferencia a 9 carreras a 1, para dar por finalizado el
        encuentro de forma temprana, por diferencia de carreras.

        Don Bosco se consagro Campeón por segunda vez consecutiva, y por quinta vez en su historia.

        El equipo campeón está integrado por: Carril N, Sabate F, Ojeda G, Lombardo F, Sacks G, Godoy R, Patat G, Castro
        J,
        Erbes E, Ferrara E, Valla M, Brahin, Olgiati, Alabarenga, Sacks I, Juarez A y Suarez M. Manager: Eduardo Chino
        Sabate.

        La organización entrego premios especiales a los más destacados del torneo:
        MEJOR LANZADOR - Juan Potolicchio (Estudiantes) ERA 1.22
        MEJOR BATEADOR - Francisco Sabaté (Don Bosco) AVG .471
        PREMIO LUIS GUDIÑO (mayor cantidad de HR) - Nicolás Carril (Don Bosco) 5
        JUGADOR MÁS VALIOSO - Nicolás Carril
      </p>
    </div>
  </div>

  <!-- NOTICIA 2 -->
  <div class="not-noticia">
    <div class="not-titulo">
      Don Bosco Bicampeon Argentino
    </div>
    <div class="not-imagen">
      <img src="https://mundosoftbol.com.ar/2019/MARZO/don%20bosco%20campeon%20para%20subir.jpg" class="float-left"
        width="46%" style="padding: 2%;">
      <p class="text-justify">
        Durante este fin de semana, se desarrolló el 20° Campeonato Argentino de Clubes de primera división masculino.
        El
        mismo conto con la exitosa presencia de 33 equipos, de todas partes de país, quienes disputaron más de 100
        partidos
        en 5 días.

        Ayer, pasada la media noche, el elenco dirigido técnicamente por Eduardo Sabate, Don Bosco de Paraná, se adueñó
        de
        su 5° corona Nacional, segunda de forma consecutiva.
        Los Salesianos, quienes en el Round Robin quedaron en la primera posición, con un record de 6 ganados y 1
        perdido,
        se instalaron directamente en el juego final, a la espera de su contrincante.
        A la final, aparte de Don Bosco, llego el equipo, también paranaense, Patronato, lo que desde hace un tiempo
        atrás,
        ya es un clásico de nuestro softbol Argentino.

        El juego final, de rápidas emociones, donde la DB en el primer inning se puso arriba por 3 carreras a 0, luego
        que
        Gonzalo Ojeda conecte un HR con compañero en base. Más tarde, Patronato descontaría la única carrera anotada, de
        la
        mano de Gustavo Godoy.

        Los de Sabate, no se quedaron quietos, además de una casi impecable defensa, a la hora de batear, lo hicieron de
        forma excelente, anotando dos carreras más en el cuarto periodo, con HR nuevamente, pero en este caso de Nicolás
        Peque Carril, quien con hombre en base, puso 5 a 1 el encuentro.

        Sin respiro casi para la gente, en el quinto inning y ultimo del encuentro, ya que de la mano de Juan D Castro,
        conectando otro Home Run con hombre en bases, estira la diferencia a 9 carreras a 1, para dar por finalizado el
        encuentro de forma temprana, por diferencia de carreras.

        Don Bosco se consagro Campeón por segunda vez consecutiva, y por quinta vez en su historia.

        El equipo campeón está integrado por: Carril N, Sabate F, Ojeda G, Lombardo F, Sacks G, Godoy R, Patat G, Castro
        J,
        Erbes E, Ferrara E, Valla M, Brahin, Olgiati, Alabarenga, Sacks I, Juarez A y Suarez M. Manager: Eduardo Chino
        Sabate.

        La organización entrego premios especiales a los más destacados del torneo:
        MEJOR LANZADOR - Juan Potolicchio (Estudiantes) ERA 1.22
        MEJOR BATEADOR - Francisco Sabaté (Don Bosco) AVG .471
        PREMIO LUIS GUDIÑO (mayor cantidad de HR) - Nicolás Carril (Don Bosco) 5
        JUGADOR MÁS VALIOSO - Nicolás Carril
      </p>
    </div>
  </div>


</div>



<!-- SIDEBAR-->
<div class="right-body">

  <!-- PUBLICIDAD 1-->
  <div class="pub-publicidad pull-rigth">
    <img src="https://mundosoftbol.com.ar/2018/noviembre/publicidad%20la%20cuadra.jpg" width="100%">
  </div>

  <!-- MINI ARTICULO 1-->
  <div class="art-articulo pull-rigth">
    <div class="art-titulo">
      CLASICO DE VERANO
    </div>
    <div class="art-texto">
      A partir de mañana jueves, y hasta el dia domingo, se estará desarrollando la Séptimo Edición del Torneo de verano
      organizado por Don Bosco de Paraná, denominado “Clásico de Verano”.
    </div>
  </div>

  <!-- PUBLICIDAD 3-->
  <div class="pub-publicidad pull-rigth">
    <img src="https://mundosoftbol.com.ar/2018/mayo/publicidad%20tombola%20web%202.jpg" width="100%">
  </div>
</div>