/* You can add global styles to this file, and also import other style files */

.body {
    padding-left: 15%;
    padding-right: 10%;
    background-color: white;
}

/* mobile responsive design*/
@media(max-width: 800px) {
    .body {
        padding-left: 10%;
        padding-right: 10%;
        background-color: white;
    }
}