/* You can add global styles to this file, and also import other style files */

.fondo {
    background-color: #CCCCCC;
    background-repeat: no-repeat;
    background-image: url('http://mundosoftbol.com.ar/foto%20fondo%20web%20estadio%205.jpg');
    background-attachment: fixed;
}

@media(min-width: 800px) {
    .body {
        margin-top: 1%;
        margin-left: 7%;
        margin-right: 7%;
        padding-left: 3%;
        padding-right: 3%;
        background-color: rgb(248, 247, 247);
    }
}

/* mobile responsive design*/
@media(max-width: 800px) {
    .body {
        padding-left: 10%;
        padding-right: 5%;
        background-color: rgb(248, 247, 247);
    }
}