<!-- IZQUIERDA -->
<div class="left-body">
    <ng-container *ngIf="info != undefined">

        <ng-container *ngFor="let row of info.publicidadDTOs">
            <ng-container *ngIf="row.tipo == 2">
                <ng-container *ngIf="row.orden == 1">
                    <div class="not-noticia row clearfix">
                        <div class="not-imagen">
                            <div class="not-imagen">
                                <img src="{{row.imagen.url}}" class="float-left" width="100%" style="padding: 2%;">
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngFor="let row of info.articuloDTOs">

            <ng-container *ngIf="row.id == id">
                <div class="not-noticia row clearfix">
                    <div class="not-imagen">
                        <ng-container *ngIf="row.imagenes.length >= 1">
                            <img src="{{row.imagenes[0].url}}" class="float-left" width="100%" style="padding: 2%;">
                        </ng-container>
                    </div>
                    <div class="not-titulo">
                        {{row.titulo.toUpperCase()}}
                    </div>

                    <div class="not-imagen">
                        <p class="text-justify">
                            {{row.texto}}
                        </p>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngFor="let row of info.publicidadDTOs">
            <ng-container *ngIf="row.tipo == 2">
                <ng-container *ngIf="row.orden != 1">
                    <div class="not-noticia row clearfix">
                        <div class="not-imagen">
                            <img src="{{row.imagen.url}}" class="float-left" width="100%" style="padding: 2%;">
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

    </ng-container>

</div>


<!-- SIDEBAR-->
<div class="right-body">

    <ng-container *ngIf="info != undefined">

        <!-- PUBLICIDAD -->
        <ng-container *ngFor="let row of info.publicidadDTOs">
            <ng-container *ngIf="row.tipo == 1">
                <img src="{{row.imagen.url}}" width="100%" class="pub-publicidad">
            </ng-container>
        </ng-container>

        <!-- MINI ARTICULO-->
        <ng-container *ngFor="let row of info.articuloDTOs">
            <ng-container *ngIf="row.tipo == 2">
                <div class="art-articulo row clearfix">
                    <div class="art-titulo">
                        {{row.titulo}}
                    </div>
                    <div class="art-texto">
                        {{row.resumen}}
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

</div>